*

!.gitea/
!.gitea/**

!src/artistdistance/
!src/artistdistance/**
src/artistdistance/target/

!src/merlin/
!src/merlin/**

!src/year_prediction/
!src/year_prediction/**

!src/drill/
!src/drill/**

!src/slides/
!src/slides/img
!src/slides/img/**
!src/slides/*.sty
!src/slides/*.bib
!src/slides/*.tex
!src/slides/*.pdf
!src/slides/Makefile

!src/poster/
!src/poster/img
!src/poster/img/**
!src/poster/*.sty
!src/poster/*.tex
!src/poster/*.pdf
!src/poster/Makefile

!tools/
!tools/**
!src/
!README.md
!CHANGELOG.md
!LICENSE
!.gitignore
!.gitattributes

__pycache__/
