*

!.gitea/
!.gitea/**

!artistdistance/
!artistdistance/**
artistdistance/target/

!merlin/
!merlin/**

!year_prediction/
!year_prediction/**

!slides/
!slides/*.sty
!slides/*.tex
!slides/*.pdf

!poster/
!poster/*.sty
!poster/*.tex
!poster/*.pdf

!tools/
!tools/**
!README.md
!CHANGELOG.md
!LICENSE
!.gitignore
!.gitattributes

__pycache__/
