*

!.gitea/
!.gitea/**

!artistdistance/
!artistdistance/**
artistdistance/target/

!merlin/
!merlin/**

!year_prediction/
!year_prediction/**

!slides/
!slides/img
!slides/img/**
!slides/*.sty
!slides/*.bib
!slides/*.tex
!slides/*.pdf
!slides/Makefile

!poster/
!poster/img
!poster/img/**
!poster/*.sty
!poster/*.tex
!poster/*.pdf
!poster/Makefile

!tools/
!tools/**
!README.md
!CHANGELOG.md
!LICENSE
!.gitignore
!.gitattributes

__pycache__/
